footer {
  background-color: var(--Black);
  color: var(--White);
  min-height: 24rem;
  margin-top: 4rem;
}

.f-wrapper {
  width: var(--mobile-width);
  margin: 0 auto;
  text-align: center;
}

.f-wrapper nav {
  min-height: 9rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-wrapper nav h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.f-wrapper nav li {
  margin: 1.5rem 0;
}

.f-wrapper nav li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.f-wrapper nav li a:hover::after {
  display: block;
  position: absolute;
  content: "";
  left: 1.1rem;
  bottom: 0;
  width: 1.2rem;
  height: 0.13rem;
  background-color: var(--White);
}

.f-wrapper .f-socials__icons a {
  margin: 0 1rem;
  position: relative;
  padding-bottom: 0.3rem;
}

.f-wrapper .f-socials__icons a:hover::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;

  width: 100%;
  height: 0.13rem;
  background-color: var(--White);
}

.f-wrapper .f-socials__copyright {
  margin: 2rem 0 0;
  padding-bottom: 2rem;
}

.f-socials__copyright {
  color: var(--Dark-Gray);
}

.dev-link {
  padding: 1rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

.dev-link a {
  text-decoration: none;
  color: var(--Very-Dark-Gray);
}

@media (min-width: 55rem) {
  footer {
    min-height: auto;
  }
  .f-wrapper {
    width: var(--desktop-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .f-wrapper nav {
    text-align: start;
  }
  .f-wrapper nav h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .f-wrapper nav ul {
    display: flex;
  }

  .f-wrapper nav li {
    margin: 0 0 1.5rem 0;
  }
  .f-wrapper nav li a {
    margin-right: 1rem;
  }
  .f-socials {
    text-align: right;
  }
  .dev-link {
    flex-basis: 100%;
  }
}
