main {
  width: 90%;
  /* min-height: calc(100vh - 41rem - 30rem); */
  margin: 1rem auto;
}

main img {
  width: 100%;
}

main h2 {
  text-transform: uppercase;
  margin: 1.5rem 0;
  font-family: var(--josefin-sans);
}

.desktop {
  display: none;
}

.interactive,
.creations {
  margin-top: 5rem;
}

.interactive-sec {
  display: flex;
  flex-direction: column;
}

.interactive-sec__info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.interactive-sec__info h2 {
  font-size: 2rem;
}

.interactive-sec__info p {
  padding: 0 2rem;
  line-height: 1.5;
  color: var(--Very-Dark-Gray);
}

.creations-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.creations-images .mobile {
  display: grid;
  gap: 1.5rem;
}

.creations-images__img {
  position: relative;
  z-index: 0;
}

.creations-images__img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 10%, transparent);
}

.creations-images__img .over-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-family: var(--josefin-sans);
  color: var(--White);
  z-index: 2;
}

.creations-images__img h2 {
  position: absolute;
  bottom: 0;
  padding: 0 1.5rem;
}

.creations-images__img .over-image:hover {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.5) 100%,
    transparent
  );
  cursor: pointer;
  color: var(--Black);
}

.creations-seeall {
  text-align: center;
  margin: 3rem;
  text-transform: uppercase;
}

.creations-seeall h3 a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  border: 2px solid var(--Very-Dark-Gray);
  padding: 0.5rem 1rem;
}

.creations-seeall h3 a:hover {
  background-color: var(--Black);
  color: var(--White);
  border: none;
}

@media (min-width: 42rem) {
  main {
    width: var(--desktop-width);
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .interactive-sec__img .desktop {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 34%,
      78% 34%,
      78% 100%,
      46% 100%,
      0 100%
    );
  }
  .creations {
    margin: 8rem 0;
  }
  .creations-images .mobile {
    display: none;
  }
  .creations-images .desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 46rem) {
  .creations {
    position: relative;
  }
  .creations-seeall h3 a {
    position: absolute;
    top: -0.69rem;
    right: 0;
  }
  .creations-header h2 {
    text-align: initial;
  }
}

/* media query for interactive */
@media (min-width: 58rem) {
  .interactive-sec {
    display: block;
    position: relative;
    margin-top: 2rem;
  }
  .interactive-sec__img {
    width: 65%;
  }
  .interactive-sec__info {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: -2rem;
    text-align: left;
  }
  .interactive-sec__info p {
    padding: 0;
    font-size: 1.05rem;
  }
}

@media (min-width: 58rem) and (max-width: 63rem) {
  .interactive-sec__img {
    width: 50%;
  }
}

@media (min-width: 60rem) {
  .creations-images .desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 64rem) and (max-width: 65rem) {
  .interactive {
    margin-top: 0;
  }
}
