.backdrop {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  text-align: -webkit-right;
}

.toggle-button:hover {
  background: rgba(224, 239, 255, 0.4);
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  border-radius: 3rem;
  height: 0.3rem;
  background: white;
  display: block;
  margin: 0.5rem 0;
}

.toggle-button .one {
  width: 55%;
}

.toggle-button .three {
  width: 85%;
}

.mobile-nav {
  display: none;
}
