.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  text-align: -webkit-right;
}

.toggle-button:hover {
  background: rgba(224, 239, 255, 0.4);
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  border-radius: 3rem;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.5rem 0;
}

.toggle-button .one {
  width: 55%;
}

.toggle-button .three {
  width: 85%;
}

/* mobile navigation */

.mobile-nav {
  position: fixed;
  width: 80vw;
  height: 100vh;
  background: var(--Black);
  z-index: 4;
}

.mobile-nav-wrapper {
  width: var(--mobile-width);
  height: 100%;
  margin: 2rem auto;
  position: relative;
  color: var(--White);
  font-family: var(--josefin-sans);
  text-transform: uppercase;
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mobile-nav__header button {
  background: none;
  border: none;
  color: inherit;
  font-size: 3rem;
}

.mobile-nav__header button:hover {
  color: var(--Dark-Gray);
  font-size: 3.1rem;
  cursor: pointer;
}

.mobile-nav-wrapper ul {
  position: absolute;
  bottom: 18%;
  left: 18%;
}

.mobile-nav-wrapper ul li {
  margin: 3rem 0;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.mobile-nav-wrapper ul li a {
  text-decoration: none;
  color: inherit;
}

.mobile-nav-wrapper ul li:hover::after {
  position: absolute;
  content: "";
  left: 20%;
  bottom: 0;
  width: 30%;
  height: 0.1rem;
  background: var(--White);
}

.close {
  display: none;
}

@media (min-width: 32rem) {
  .mobile-nav {
    width: 70vw;
  }
  .mobile-nav__header {
    justify-content: space-around;
  }
}
